{% extends 'admin/auth_template.html' %}
{% load static %}
{% block content %}
<div class="card mx-auto">
    <div class="card-body mt-5">
        {% for msg in messages %}
        {{msg}}
        {% endfor %}
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name" id ="first_name" required value="{{user.first_name}}">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" required value="{{user.last_name}}">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required value="{{user.username}}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required value="{{user.email}}">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="is_superuser" class="form-label">Type</label>
                <select name="is_superuser" id="is_superuser" class="form-select">
                    <option value="True">Admin</option>
                    <option value="False">User</option>
                </select>    
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        {% endif %}
    </div> 
</div>
{% endblock %}